@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("header.css");
@import url("main.css");
@import url("footer.css");
@import url("flogin.css");

:root {
    /* font-size: 10px;  */
    /* Declaración de constantes */
    --font-base: Quicksand, Roboto, Sans-serif;
    --font-size: 20px;
    --font-0: 0.4em;
    --font-1: 0.6em;
    --font-2: 0.8em;
    --font-3: 1em;
    --font-4: 1.2em;
    --font-5: 1.4em;
    --font-6: 1.6em;
    --font-7: 1.8em;

    /* Declaración de Paleta de colores empleada */
    --color-0: rgb(36, 34, 28);
    --color-1: rgb(72, 69, 55);
    --color-2: rgb(108, 103, 83);
    --color-3: rgb(145, 138, 111);
    --color-4: rgb(172, 167, 147);
    --color-5: rgb(200, 196, 183);
    --color-6: rgb(227, 226, 219);
    --color-btn: rgb(80, 68, 22);
    --color-0a: rgb(36, 34, 28, .8);
    --color-1a: rgb(72, 69, 55, .8);
    --color-2a: rgb(108, 103, 83, .8);
    --color-3a: rgb(145, 138, 111, .8);
    --color-4a: rgb(172, 167, 147, .8);
    --color-5a: rgb(200, 196, 183, .8);
    --color-6a: rgb(227, 226, 219, .8);
    --sombra-0: 0 2px 5px rgba(72, 69, 55, 0.9), 0 3px 12px rgba(72, 69, 55, 0.5);
    --grad-0: linear-gradient(0deg,var(--color-4),var(--color-6)70.71%);
    --grad-1: linear-gradient(0deg,var(--color-1),var(--color-3)70.71%);
}

*,
html {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    background: url(../media/images/bg-01.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Medium devices (768px and up) */
@media only screen and (min-width: 768px) {
    html {
        background-image: url(../media/images/bg-02.png);
    }
}

/* Large devices (992px and up) */
@media only screen and (min-width: 992px) {
    html {
        background-image: url(../media/images/bg-03.png);
    }
}

/* Extra large devices (1200px and up) */
@media only screen and (min-width: 1200px) {
    html {
        background-image: url(../media/images/bg-04.png);
    }

    header,
    main,
    footer {
        margin: auto;
        max-width: 1200px;
    }
}